*, *:before, *:after {
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
    min-height: 100%;
  }
  body {
    color: #0c0;
    background-color: black;
  }
  .terminal {
    --color: rgba(0, 200, 0, 0.99);
    --animation: terminal-glow;
    --glow: 0.3;
    }

  @-webkit-keyframes terminal-smooth {
    0%, 100% {
        left: 0;
        color: #0c0;
        color: var(--original-color, #aaa);
        background-color: #000;
        background-color: var(--background, #000);
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        padding: 0;
        margin: 0;
    }
    50% {
        left: 0;
        color: #000;
        background: #0c0;
        -webkit-box-shadow: 0 0 5px var(--color, #aaa);
        box-shadow: 0 0 5px var(--color, #aaa);
        border: none;
        padding: 0;
        margin: 0;
        border-bottom: 2px solid transparent;
    }
}
@-moz-keyframes terminal-smooth {
    0%, 100% {
        left: 0;
        color: #0c0;
        color: var(--original-color, #aaa);
        background-color: #000;
        background-color: var(--background, #000);
        -moz-box-shadow: none;
        box-shadow: none;
        border: none;
        padding: 0;
        margin: 0;
    }
    50% {
        left: 0;
        color: #000;
        background: #0c0;
        -mox-box-shadow: 0 0 5px var(--color, #aaa);
        box-shadow: 0 0 5px var(--color, #aaa);
        border: none;
        padding: 0;
        margin: 0;
        border-bottom: 2px solid transparent;
    }
}
@keyframes terminal-smooth {
    0%, 100% {
        left: 0;
        color: #0c0;
        color: var(--original-color, #aaa);
        background-color: #000;
        background-color: var(--background, #000);
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        padding: 0;
        margin: 0;
    }
    50% {
        left: 0;
        color: #000;
        background: #0c0;
        -webkit-box-shadow: 0 0 5px var(--color, #aaa);
        box-shadow: 0 0 5px var(--color, #aaa);
        border: none;
        padding: 0;
        margin: 0;
        border-bottom: 2px solid transparent;
    }
}
#css-cursor #terminal {
    --background: #000;
    --color: #0c0;
    --animation: terminal-smooth;
    text-shadow: 0 0 3px rgba(0,100,0,0.5);
}
/* below can be removed in version >= 2.1.0 */
#css-cursor .cmd .cursor-line {
    overflow: visible;
}


.disco-light {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #ffff00);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media all and (min-width: 480px) {
    .content-desktop {display:block;}
    .content-mobile {display:none;}
}

@media all and (max-width: 479px) {
    .content-desktop {display:none;}
    .content-mobile {display:block;}
}

@media (max-width: 767px) {
    .hidden-mobile {
      display: none;
    }
  }